.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 8s linear; /* Animação aplicada diretamente */
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
