h3 {
    margin: 25px;
    padding: 0 0 5px 0;
    font-size: 16px;
  }
  
  p {
    margin: 25px;
    color: #666c74;
    font-size: 18px;
    line-height: 20px;
  }
  
  .CardPersonalidades {
    border: 1px solid #ccc;
    margin: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f7f8fa;
  }
  